<!-- SLIDE -->
<li data-index="rs-{SLIDE_NO}" data-transition="zoomout" data-slotamount="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">
    <!-- MAIN IMAGE -->
    <img src="{IMAGE_PATH}" alt="" data-bgposition="center bottom" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" data-no-retina>
    <!-- LAYERS -->
    <!-- LAYER NR. 1 -->
    <div class="tp-caption" id="sl{SLIDE_NO}-lyr1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal"
         data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="0" data-basealign="slide" data-responsive_offset="on" style="z-index:1;background-color: rgba(26, 29, 36, 0.66);">
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption rev-title" id="sl2-lyr3" data-x="['left','left','center','center']" data-hoffset="['40','40','20','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','-50','0','0']" data-width="['668','768','768','380']" data-height="none"
         data-whitespace="normal" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-splitin="none" data-splitout="none" data-responsive_offset="on">
        <div class="rev-title-content">
            <h2>{SUB_TITLE}</h2>
            <h1>{TITLE}</h1>
            <p class="mr-3">{TEXT}</p>
            <div class="col-md-12 mt-3 p-0">
                <a href="gallery.html" class="btn btn-primary btn-rounded">view more</a>
                <a href="#contact" class="btn btn-third-outline btn-rounded ml-1 page-scroll">contact us</a>
            </div>
        </div>
    </div>
</li>