<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Culcuoglu Fabrics</title>

    <meta name="description" content="Culcuoglu Fabrics">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="fav-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="fav-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="fav-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="fav-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="fav-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="fav-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="fav-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="fav-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="fav-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="fav-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="fav-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav-icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- lightbox -->
    <link rel="stylesheet" href="libs/lightbox/dist/css/lightbox.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300%7cPoppins:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="libs/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <!-- slider revolution v1.0.4 -->
    <link rel="stylesheet" type="text/css" href="libs/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="libs/revolution/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="libs/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="libs/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="libs/revolution/css/navigation.css">
    
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" property="stylesheet">
    <!-- Font-awesome 4.7 CSS -->
    <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css" property="stylesheet">
    <!-- Font-ionicons 2.0.1 CSS -->
    <link rel="stylesheet" href="libs/ionicons-2.0.1/css/ionicons.min.css" property="stylesheet">
    
    {ADDITIONAL_CSS}
    
    <!-- Main Stylesheets --> 
    <link rel="stylesheet" href="css/common.css" property="stylesheet">
    <link rel="stylesheet" href="css/main.css" property="stylesheet">
    <link rel="stylesheet" href="css/responsive.css" property="stylesheet">

    <!--<script src="js/modernizr-2.6.2.min.js"></script>-->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>