<section id="portfolio" class="section-main">
    <div class="overlay-light">
        <!--Container-->
        <div class="container py-5">
            <div class="row">
                <div class="section-title">
                    <p></p>
                    <h1>{TITLE}</h1>
                </div>
            </div>

            <div class="row">
                <!-- GALLERY -->
                <div class="container fullwidth mt30">
                    <div class="justified">
                        {IMAGE_BOXES}
                    </div>
                </div>
                <!-- /GALLERY -->
            </div>
        </div>
</section>