<section id="portfolio" class="section-main" style="background-image: url({BACKGROUND_IMAGE_PATH}); background-size: cover; background-position: center 0; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="overlay-light">
        <div class="container py-5">
            <div class="row">
                <div class="section-title">
                    <p></p>
                    <h1>{TITLE}</h1>
                </div>
            </div>

            <div class="section-title m-4">
                <p class="section-title-p mt-2">
                    {TEXT}
                </p>
            </div>

            <div class="row">
                {IMAGE_BOXES}
            </div>
        </div>
    </div>
</section>