<section class="why-choose" style="background-image: url({BACKGROUND_IMAGE_PATH}); background-size: cover; background-position: center 0; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="overlay-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-9 py-5">
                    <h2 class="capitalize text-white">{TITLE}</h2>
                    <hr class="left">

                    {PARAGRAPHS}

                    {SUB_PARAGRAPHS}
                </div>
            </div>
        </div>
    </div>
</section>