<section class="section-main bg-three">
    <div class="overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="py-5 text-center">
                    <!--<img src="{IMAGE_PATH}" alt="">-->
                    {IMAGE_CODE}

                    <div class="section-title m-4">
                        <h1>{TITLE}</h1>
                        <p class="mt-2 indented" style="text-align: justify">
                            {TEXT}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>